@include tablet {
    .seccion-inferior { //div
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 2rem;
    }
}

.entrada-blog { //article
    margin-bottom: 2rem;

    @include tablet {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
    }
    &:last-of-type {
        margin-bottom: 0;
    }
}

.informacion-meta { //p
    span {
        color: $amarillo;
    }
}

.texto-entrada {    //div
    a {
        color: $negro;
        display: block; //los <a> por default son inline, no se le puede agregar margen. Pero si lo cambio a display block ahí sí funciona
        margin-top: 2rem;
    }
    h4 {
        margin: 0;
        line-height: 1.4;
        &::after {
            content: "";
            display: block;
            width: 15rem;
            height: .5rem;
            background-color: $verde;
            margin-top: 1rem;
        }
    }
    
}